[submodule "Lovewing.Resources"]
	path = Lovewing.Resources
	url = https://github.com/ClarityMoe/Lovewing.Resources
[submodule "osu-framework"]
	path = osu-framework
	url = git@github.com:ppy/osu-framework.git
