[submodule "osu.Framework"]
	path = osu.Framework
	url = https://github.com/ppy/osu-framework
[submodule "Lovewing.Resources"]
	path = Lovewing.Resources
	url = https://github.com/ClarityMoe/Lovewing.Resources
