[submodule "osu-framework"]
	path = osu-framework
	url = https://github.com/ppy/osu-framework
[submodule "lovewing-resources"]
	path = lovewing-resources
	url = https://github.com/ProjectLovewing/Lovewing.Resources
